<div class="container mt-4">
  <h1 align="center">Add a new subject</h1>
  <div class="col-md-4 offset-md-4">
    <%= render 'shared/errors', object: @subject %>
    <%= render 'form', action: "create" %>
  </div>
</div>