
  <div class="container mt-4 center">
    <%= image_tag(@subject.banner.url, :width => "100%", class: "rounded") %>
    <div class="row">
        <% @categories = @subject.categories %>
        <% @categories.each do |category| %>
          <div class="col-md-4 col-sm-6  text-white category-container p-4 my-2">
            <div class="row">
              <div class="col-sm-6 col-6">
                <%= image_tag(category.avatar.url, :width => "80%", class: "rounded-circle mr-auto category-pic") %>
              </div>
              <div class="col-sm-6 col-6 p-2">
                <h3 align="left"><%= category.name %> </h3> 
                <%= link_to "Practice", category_practice_path(category), class: "btn btn-warning btn-lg", style: "float: left" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>