<div class="container mt-4 center">
  <%= image_tag(@subject.name + " Banner", :width => "100%", class: "rounded") %>
  <div class="row">
      <% @categories = @subject.categories %>
      <% @categories.each do |category| %>
        <div class="col-md-6 col-sm-6 col-xs-6 bg-dark text-white category-container p-4 my-2">
          <div class="row">
            <div class="col-sm-6 col-xs-6">
              <%= image_tag(category.name, :width => "80%", class: "rounded-circle category-pic") %>
            </div>
            <div class="col-sm-6 col-xs-6 mt-2 p-2">
              <h3 align="left"><%= category.name %> </h3> 
              <%= link_to "Practice", '#', class: "btn btn-warning btn-md", style: "float: left" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>