@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Lato);
html {
  font-family: 'Lato', sans-serif;
  font-size: 17px;
  background-color: #343a40;
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.7rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1rem;
  }
}

body {
  padding-top: 60px;
  background-color: #343a40;
  min-height: 400px;
}

.text-white {
  &:hover {
    text-decoration: none;
  }
}

.fa-yellow {
  color: yellow;
}

.center {
  text-align: center;
}

.blue {
  background: #03a9f4;
}

.white {
  color: white;
}

.link {
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.login-signup-form {
  background-color: rgba(244,134,3,0.8);
}

.big-checkbox {
  width: 20px;
  height: 20px;
}

#about-us-heading {
  margin-top: 25px;
  font-weight: 300;
  font-size: 4rem;
  color: #03a9f4;
  text-align: center;
}

.pagination {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1200px){
  html {
    font-size: 20px;
  }
}

@media (min-width: 768px){
  html {
    font-size: 14px;
  }
}

@media (min-width: 350px){
  html {
    font-size: 12px;
  }
}

@media (max-width: 350px){
  html {
    font-size: 8px;
  }
}

@import "navigation";
@import "home";
@import "footer";
@import "admins";
@import "subjects";
@import "questions";