/* 	
	#484848 darkslategrey
	#333333 black
 	#D6D8DE lightgrey
	#656565 grey
	#46BCDE blue
	#52D273	green
	#E94F64 red
	#e57254 orange
	#e5c454 yellow
*/


.fat-text {
	font-weight: 800;
}

.fattish-text {
	font-weight: 600;
}

#learn-more-button {
	background-color: transparent;
	width: 200px;
	height: 50px;
	color: #E57254;
	border-radius: 50px;
	border: 2px solid $orange;
}

#learn-more-button:hover {
	color: #333;
	background-color: $orange;
}

#create-account-button {
	font-size: 20px;
	border: 2px solid $green;
	background-color: transparent;
	color: #52D273;
	width: 200px;
	height: 40px;
	border-radius: 10px;
}

#create-account-button:hover {
	color: #333;
	background-color: $green;
}

#choose-subjects-button {
	font-size: 20px;
	background: transparent;
	border: 2px solid #E94F64;
	color: #E94F64;
	width: 200px;
	height: 40px;
	border-radius: 10px;
}

#choose-subjects-button:hover {
	background: #E94F64;
	color: #333;
}

#submit-answer-button {
	font-size: 20px;
	background: transparent;
	border: 2px solid #e5c454;
	color: #e5c454;
	height: 40px;
	width: 200px;
	border-radius: 10px;
}

#submit-answer-button:hover {
	background: #e5c454;
	color: #333;
}

#facebook-icon:hover {
	color: #3B5998;
}

#twitter-icon:hover {
	color: #0084b4;
}

#linkedin-icon:hover {
	color: #0097d3;
}

#mail-icon:hover {
	color: $orange;
}

.div-shadow {
	box-shadow: 0px 4px 20px 3px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-field {
	background-color: #D6D8DE;
	width: 200px;
	height: 30px;
	border-radius: 8px;
}

.input-field-text {
	color: #333;
	font-weight: 700;
	font-size: 20px;
	margin-left: 6px;
}

.small-text {
	font-size: 13px;
	font-style: italic;
}

.seperator-red {
	width: 120px;
	height: 3px;
	background-color: $red;
}

.seperator-green {
	width: 120px;
	height: 3px;
	background-color: $green;
}

.seperator-blue {
  background-color: $blue;
  width: 200px;
  height: 3px;
}

.flow-line {
	width: 2px;
	height: 2px;
	background-color: transparent;
	position: absolute;
	z-index: -1;
	/* -webkit-animation: flow-animation-mobile 3s infinite; */
}

.b-top-green {
	border-top: 5px solid #52D273;
}

.b-top-red {
	border-top: 5px solid #E94F64;
}

.b-top-blue {
	border-top: 5px solid #46BCDE;
}

.b-top-orange {
	border-top: 5px solid #e57254;
}

.b-top-yellow {
	border-top: 5px solid #e5c454;
}

.navbar {
	background-color: #46BCDE;
}

.bg-black {
	background-color: #333333;
}

@media only screen and (min-width: 991px){

}

@media only screen and (max-width: 990px){
}

@media only screen and (min-width: 350px){
}

@media only screen and (max-width: 350px){
}