/* 	
	#484848 darkslategrey
	#333333 black
 	#D6D8DE lightgrey
	#656565 grey
	#46BCDE blue
	#52D273	green
	#E94F64 red
	#e57254 orange
	#e5c454 yellow
*/
body {
	background-color: #484848;
	color: white;
}

#learn-more-button {
	background-color: transparent;
	margin-top: 20px;
	margin-left: 5px;
	width: 150px;
	height: 50px;
	color: $red;
	border-radius: 50px;
	border: 2px solid $red;	
	&:hover {
		background-color: $red;
		color: $black;
	}	
}

#register-button {
	background-color: transparent;
	margin-top: 20px;
	margin-left: 5px;
	width: 150px;
	height: 50px;
	color: $green;
	border-radius: 50px;
	border: 2px solid $green;	
	&:hover {
		background-color: $green;
		color: $black;
	}
}

#create-account-button {
	font-size: 20px;
	border: 2px solid $green;
	background-color: transparent;
	color: #52D273;
	width: 200px;
	height: 40px;
	border-radius: 10px;
}

#create-account-button:hover {
	color: #333;
	background-color: $green;
}

#choose-subjects-button {
	font-size: 20px;
	background: transparent;
	border: 2px solid #E94F64;
	color: #E94F64;
	width: 200px;
	height: 40px;
	border-radius: 10px;
}

#choose-subjects-button:hover {
	background: #E94F64;
	color: #333;
}

#submit-answer-button {
	font-size: 20px;
	background: transparent;
	border: 2px solid #e5c454;
	color: #e5c454;
	height: 40px;
	width: 200px;
	border-radius: 10px;
}

#submit-answer-button:hover {
	background: #e5c454;
	color: #333;
}

#facebook-icon {
	transition-property: color;
	-webkit-transition: 1s ease;
}

#facebook-icon:hover {
	color: #3B5998;
}

#twitter-icon {
	transition-property: color;
	-webkit-transition: 1s ease;
}

#twitter-icon:hover {
	color: #0084b4;
}

#linkedin-icon {
	transition-property: color;
	-webkit-transition: 1s ease;
}

#linkedin-icon:hover {
	color: #0097d3;
}

#mail-icon {
	transition-property: color;
	-webkit-transition: 1s ease;
}

#mail-icon:hover {
	color: $orange;
}

.input-field {
	background-color: #D6D8DE;
	width: 200px;
	height: 30px;
	border-radius: 8px;
}

.input-field-text {
	color: #333;
	font-weight: 700;
	font-size: 20px;
	margin-left: 6px;
}


@media only screen and (min-width: 991px){
}

@media only screen and (max-width: 990px){
}

@media only screen and (min-width: 350px){
}

@media only screen and (max-width: 350px){
}