
.carousel-img{
  height : 70% !important;
}

.carousel {
  background-color: white;
  text-align: center;
  height: 70% !important;
  width : 100%;
}

@media (min-width: 1200px){
  .carousel {
    height : 700px !important;
  }
  .carousel-img {
    height : 700px !important;
  }
}

@media (max-width: 1200px){
  .carousel-img {
    width: 100%;
  }
}

@media (min-width: 750px){
  .carousel-img-1 {
    content:url("mobile-friendly");
  }
  .carousel-img-2 {
    content:url("track-progress");
  }
}

@media (max-width: 750px){
  .carousel {
    height: 1220px;
  }
  .carousel-img-1 {
    content:url("mobile-friendly-MOBILE");
  }
  .carousel-img-2 {
    content:url("track-progress-MOBILE");
  }
}