@import "bootstrap";

.navbar {
  background-color: #03a9f4;  
  color: white;
  
}

.navbar-brand {
  font-size: 2rem;
  padding: 4px;
  color: white;
  &:hover {
    color: white;
  }
}

.nav-item {
  font-size: 1.6rem;
  color: white;
  padding: 4px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.navbar-toggler {
  color: white;
  border-color: white;
}

.navbar-toggler-icon {
  color: white;
}

@media (max-width: 768px){
    .nav-item {
    }
    .navbar-nav {
      text-align: center;
    }
}