<footer class="footer-basic-centered">
      
      <p class="footer-brand">Matric&sup2;</p>
  
			<p class="footer-company-motto">Get the most out of Matric</p>

			<p class="footer-links">
				<%= link_to "Home", root_path, class: "link" %>
				•
				<%= link_to "About", about_path, class: "link" %>
				•
				<%= link_to "FAQ", faq_path, class: "link" %>
			</p>

			<p class="footer-company-name">RAP Studios &copy; 2017 - www.rapstudios.co.za</p>

</footer>